* {
  font-size: 1vw;
}

.App {
  background-color: #e8e3e3;
  text-align: center;
  overflow: hidden;
}

.rendering-for-single-book {
  height: 68vh;
  background-color: #e8e3e3;
  width: 100vw;
}

.book-container {
  height: 66vh;
  overflow: hidden;
  margin: 1%
}
