.book-card {
  background-image: url('../../assets/book-card-background.png');
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 15vw;
  height: 52.5vh;
  padding: 1%;
}

.card-single-link {
  overflow: hidden;
  width: 80%;
  margin-top: 15%;
}

.fav-button {
  margin-bottom: 15%;
}

.book-card-title {
  color: #000000;
  font-family: 'Libre Franklin', sans-serif;
}

a {
  text-decoration: none;
}
