.footer-container {
  align-items: flex-end;
  background-color: #525760;
  display: flex;
  height: 20vh;
  justify-content: flex-end;
  width: 100vw;
}

h4 {
  color: #F6EEEB;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  margin-right: 2%;
  text-shadow: 0px 10px 5px rgb(95 70 80 / 59%);
}